body {
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}

header {
    height: 164px;
    #header-top {
        height: 40px;
        background-color: #302640;
    }

}
#first-screen {
    height: 584px;
    background-image: url("/img/first-screen-bg.jpg");
}